<%# ALERT PART %>
<% flash.any? %>
  <% flash.each do |color,msg|%>
  <div class="alert alert-<%=color%> alert-dismissible fade show" role="alert">
  <strong><%=msg%></strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
<%# ALERT PART %>

<% if current_user%>
<div class="container-fluid">
  <h1> Hello <%= current_user.full_name%></h1>
</div>
<%end%>


<%#---- CREATION DE GOSSIP -----%>
<div class="card text-white bg-dark mb-3">
    <div class="card-header">Poste ton gossip et fait rêver la peoplesphére</div>
      <div class="card-body">
        <h5 class="card-title px-5"><%=link_to 'Écrire un gossip', new_gossip_path, class:"link-light"%></h5>
      </div>
</div>

<%#---- CARTE PAR GOSSIP -----%>
<% @gossips.each.with_index do |gossip,i|%>
  
  <%#---- GOSSIP NUMBER AND TAGS -----%>
  <div class="card my-3">
    <div class="card-header">
      Gossip n°<%= i+1 %>
      <% gossip.tags.each do |tag|%>
        <span class="badge bg-secondary">#<%= tag.title%></span>
      <% end%>
    </div>

    <%#---- TITLE AND AUTHOR -----%>
    <div class="container-fluid row">
      <div class="card-body col-6">
        <h5 class="card-title">Titre : <%= gossip.title %></h5>
        <p class="card-text">Auteur : <%= link_to gossip.user.first_name, user_path(gossip.user)  %> </p>
      </div>
      
      <%#---- COMMENT PART -----%>
      <div class="col-2 d-flex align-items-center">
        <div class="btn btn-dark ">
          <i class="bi bi-chat-left-dots-fill"></i> &nbsp;<%= comment_counter(gossip)%>&nbsp; comments
        </div>
      </div>

      <%#---- LIKE PART -----%>
      <div class="col-2 d-flex justify-content-end align-items-center">
      <% if already_liked?(current_user,gossip)%>
        <%#=button_to "Unlike ce gossip", gossip_like_path(gossip.id, find_like(current_user,gossip)), method: :delete, class:"btn btn-info" %>
        <%=button_to gossip_like_path(gossip.id, find_like(current_user,gossip)), method: :delete, :class => "btn btn-outline-primary disliked" do %>
        <i class="bi bi-heart-fill"></i>&nbsp; <%= like_counter(gossip)%> like<%end%>
        <%else%>
        <%=button_to gossip_likes_path(gossip.id), method: :create, :class => "btn btn-primary disliked" do %>
        <i class="bi bi-heart-fill"></i>&nbsp; <%= like_counter(gossip)%> like<%end%>
      <%end%>
      </div>
      
      <%#---- LINK TO GOSSIP SHOW -----%>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <div class="row">
        <p><%= link_to 'Go Gossip', gossip_path(gossip) %></p>
        </div>
        <br/>
      </div>
   
    </div>
  </div>

<%end%>