
<%# FORM_FOR IN IF BLOCK TO NOT AFFECT APP%>
<% if false %>
  <div class="container px-5 mb-3">
    <div class="row py-4 mb-4">
      <h2>Il est temps de faire son gossip !</h2>
    </div>
    <%= form_for :gossip do |f| %>
      <div class="mb-3">
        Auteur : <select name="">
      </div>
      <div class="mb-3">
        Titre: <%= f.text_field :title, class: "form-control" %><br />
      </div>
      <div class="mb-3">
        Contenu : <%= f.text_area :content, class: "form-control"  %><br />
      </div>
      <%# <%= f.submit%>
      <button type="submit" class="btn btn-primary">Soumission</button>
    <% end %>
  </div>
<% end %>
<%# FORM_FOR IN IF BLOCK TO NOT AFFECT APP%>

<%# ALERT PART %>
<% if flash.any? %>
    <div class="alert alert-<%=flash.keys.first%> alert-dismissible fade show" role="alert">
      <strong><%=flash[flash.keys.first]%></strong><br/>
      <% unless flash[:errors].nil? %>
      <%=flash[:errors].html_safe%>
      <% end %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 
<% end %>
<%# ALERT PART %>


<%# FORM_TAG %>
<div class="container px-5 mb-3">
<div class="row py-4 mb-4">
  <h2>Il est temps de faire son gossip !</h2>
</div>
<%= form_tag url_for(action: 'create'), method: "post" do %>
      <% if logged_in?() %>
      <div class="mb-3">
        <%= label_tag 'Auteur(e)' %>
      </div>
      <div class="mb-3">
        <%= current_user.full_name%>
      </div>
      <%else%>
      <div class="mb-3">
        <%= label_tag 'Il faut etre connecté pour poster un gossip. Tu peux faire ça'%> <%=link_to 'ici.', new_session_path%>
      </div>
      <%end%>


      <br /> 
      <div class="mb-1">
        <%= label_tag 'Titre' %>
      </div>
      <div class="mb-3">
        <%= text_field_tag 'new_gossip_title', @gossip.title, class: "form-control", disabled:current_user.nil?%>
      </div>
      <br /> 
      <div class="mb-1">
        <%= label_tag 'Contenu' %>
      </div>
      <div class="mb-1">
      <%= text_area_tag 'new_gossip_content', @gossip.content, class: "form-control", disabled:current_user.nil? %>
      </div>
      <br /> 
      <div class="mb-1">
        <%= label_tag 'Tags' %>
      </div>
      <div class="mb-1">
      <%@tags.each do |tag|%>
        <%= label_tag tag.id, "#{tag.title}" %>
        <%= check_box_tag 'tags_id[]', tag.id%>
      <% end %>
      </div>
      <br /> <br />
      <% if logged_in?() %>
      <button type="submit" class="btn btn-primary">Créer ton gossip</button>
      <%end%>
<% end %>
</div>