<h1><%= @city.name%></h1>

<% Gossip.joins(:user).where(users: {city: @city}).each.with_index do |gossip,i|%>

<div class="card my-3">
    <div class="card-header">
      Gossip n°<%= i+1 %>
    </div>

    
    <div class="container-fluid row">
      <div class="card-body col-6">
        <h5 class="card-title">Titre : <%= gossip.title %></h5>
        <p class="card-text">Auteur : <%= link_to gossip.user.first_name, user_path(gossip.user)  %> </p>
      </div>

      <div class="col-2 d-flex align-items-center">
        <div class="btn btn-dark ">
          <i class="bi bi-chat-left-dots-fill"></i> &nbsp;<%= comment_counter(gossip)%>&nbsp; comments
        </div>
      </div>

      <div class="col-2 d-flex justify-content-end align-items-center">
      <% if already_liked?(current_user,gossip)%>
        <%#=button_to "Unlike ce gossip", gossip_like_path(gossip.id, find_like(current_user,gossip)), method: :delete, class:"btn btn-info" %>
        <%=button_to gossip_like_path(gossip.id, find_like(current_user,gossip)), method: :delete, :class => "btn btn-outline-primary disliked" do %>
        <i class="bi bi-heart-fill"></i>&nbsp; <%= like_counter(gossip)%> like<%end%>
        <%else%>
        <%=button_to gossip_likes_path(gossip.id), method: :create, :class => "btn btn-primary disliked" do %>
        <i class="bi bi-heart-fill"></i>&nbsp; <%= like_counter(gossip)%> like<%end%>
      <%end%>
      </div>

      <div class="col-2 d-flex justify-content-end align-items-center">
        <p><%= link_to 'Go Gossip', gossip_path(gossip) %></p>
      </div>
    </div>
  </div>

<%end%>